[build]
  publish = "."
  command = "sed -i 's/FIREBASE_API_KEY_PLACEHOLDER/'$FIREBASE_API_KEY'/g; s/FIREBASE_AUTH_DOMAIN_PLACEHOLDER/'$FIREBASE_AUTH_DOMAIN'/g; s/FIREBASE_PROJECT_ID_PLACEHOLDER/'$FIREBASE_PROJECT_ID'/g; s/FIREBASE_STORAGE_BUCKET_PLACEHOLDER/'$FIREBASE_STORAGE_BUCKET'/g; s/FIREBASE_MESSAGING_SENDER_ID_PLACEHOLDER/'$FIREBASE_MESSAGING_SENDER_ID'/g; s/FIREBASE_APP_ID_PLACEHOLDER/'$FIREBASE_APP_ID'/g' guessbook/guestbook.html"
  
[build.environment]
  NODE_VERSION = "18"
  SECRETS_SCAN_ENABLED = "false"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"